DB_USER=your_postgres_user
DB_HOST=localhost
DB_NAME=veasna_backend
DB_PASSWORD=your_postgres_password
DB_PORT=5432

PORT=3000
NODE_ENV=development
JWT_SECRET=replace_with_long_random_secret
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3001
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345
